@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.eot');
  src:
    local('Gotham Pro'),
    local('GothamPro'),
    url('../fonts/GothamPro.woff2') format('woff2'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype'),
    url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../fonts/GothamPro-Light.eot');
  src:
    local('Gotham Pro Light'),
    local('GothamPro-Light'),
    url('../fonts/GothamPro-Light.woff2') format('woff2'),
    url('../fonts/GothamPro-Light.woff') format('woff'),
    url('../fonts/GothamPro-Light.ttf') format('truetype'),
    url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Isabel';
  src: url('../fonts/Isabel-Regular.eot');
  src:
    local('Isabel Regular'),
    local('Isabel-Regular'),
    url('../fonts/Isabel-Regular.woff2') format('woff2'),
    url('../fonts/Isabel-Regular.woff') format('woff'),
    url('../fonts/Isabel-Regular.ttf') format('truetype'),
    url('../fonts/Isabel-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Isabel-Light';
  src: url('../fonts/Isabel-Light.eot');
  src:
    local('Isabel Light'),
    local('Isabel-Light'),
    url('../fonts/Isabel-Light.woff2') format('woff2'),
    url('../fonts/Isabel-Light.woff') format('woff'),
    url('../fonts/Isabel-Light.ttf') format('truetype'),
    url('../fonts/Isabel-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
