.footer-box {
  @include font-family-gotham-pro-light;
  @include font-size(14px);
  @include text-light;

  position: absolute;
  bottom: 0;
  line-height: 1.6;
  background: $white;
  border: 0;
  text-align: center;
  padding-top: $border-mobile;

  @include media-breakpoint-up(lg) {
    padding-top: $border-desktop;
  }
}

.creditos {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.copyright__text-box {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.copyright__text {
  padding-right: 0.375em;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up(lg) {
    justify-content: start;
    flex-wrap: nowrap;
  }
}

.copyright-text__dash {
  display: none;

  @media screen and (min-width: 467px) {
    display: inline-block;
  }
}

.made-with-love {
  flex: 0 0 100%;
  padding: 0;

  @include media-breakpoint-up(lg) {
    flex: 0 0 15.375rem;
    justify-content: end;
    text-align: right;
  }
}

.icon-heart,
.cimbre-logo {
  height: 0.875rem;
  padding: 0 0.375em;
}

.cimbre-logo {
  position: relative;
  top: -2px;
}

#creditos {
  width: 100%;

  .container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;

    .content {
      width: 100%;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: 3.5rem;

    .container {
      .content {
        flex-wrap: nowrap;
        justify-content: space-between;

        p {
          flex-wrap: nowrap;
          justify-content: flex-start;
        }
      }
    }
  }
}
