.menu-box {
  display: none;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5rem;
  justify-content: center;

  @include media-breakpoint-up(xl) {
    display: flex;
  }
}

.menu-mobile-box {
  position: fixed;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1rem solid $white;
  z-index: 90;
}

.menu-mobile__btn {
  position: absolute;
  display: block;
  top: 0.5rem;
  right: 1rem;
  height: 2.5rem;
  z-index: 100;

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $white;
    transition: background-color ease 0.3s;
  }

  &.is-active {
    position: fixed;
    top: 2rem;
    right: 2rem;

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $white !important;
    }
  }

  &:hover {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $primary-color;
    }
  }

  @include media-breakpoint-up(lg) {
    top: 4rem;
    right: 4rem;
  }
}

.menu-nav {
  position: relative;
  display: flex;
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  justify-content: center;

  @media screen and (orientation: landscape) {
    padding-top: 2.5rem;
  }

  @include media-breakpoint-up(xl) {
    align-items: center;
    padding-top: 2.5rem;
  }
}

.site-name {
  margin: 0;
}

.header__logo {
  width: 8rem;
  transition: all ease 0.3s;

  &.is-active {
    width: 10rem;
    filter: invert(1) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.75));
  }

  &:hover {
    filter: invert(91%) sepia(15%) saturate(1773%) hue-rotate(2deg) brightness(85%) contrast(94%);
  }
}

.menu__item {
  @include font-family-gotham-pro;
  @include text-regular;

  cursor: pointer;
  //hide all except logo
  &:not(.menu__item-inicio) {
    display: none;
    opacity: 0;
    transition: opacity ease 0.3s;

    @include media-breakpoint-up(xl) {
      transition: none;
      opacity: 1;
      display: list-item;
    }
  }
}

.menu__link {
  @include link-color($black, $primary-color);

  position: relative;
  display: block;

  &.is-active {
    @include link-color($white, $primary-color);
  }
}

.menu__link-home,
.menu__link-sobre,
.menu__link-estrutura,
.menu__link-fotos,
.menu__link-contato,
.menu__link-tour {
  &::after {
    content: "";
    display: block;
    margin: auto;
    width: 0;
    height: 4px;
    transition: width ease 0.3s, background ease 0.3s;
    filter: invert(91%) sepia(15%) saturate(1773%) hue-rotate(2deg) brightness(85%) contrast(94%);
  }

  &:hover {
    &::after {
      width: 100%;
      background: url('../images/menu-traco.svg') no-repeat center;
      background-size: contain;
    }
  }

  @include media-breakpoint-up(xl) {
    margin-left: 3rem;
  }

  @media screen and (min-width: 1366px) {
    margin-left: 4rem;
  }
}

.menu__item-inicio {
  margin-right: auto;
}

.menu__list {
  padding: 0;
  margin: 0;
  text-transform: uppercase;

  &.is-active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    //line-height: 4.5;
    text-align: center;
    align-items: center;
    height: 100%;
    margin-bottom: 2.5rem;

    .menu__item {
      display: flex !important;
      opacity: 1;
      order: 1;
    }

    .menu__item-inicio {
      order: 0;
    }
  }

  @include media-breakpoint-up(xl) {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
}

/**
 * INICIO
 */
.section-inicio {
  .menu-box {
    display: flex;
  }

  .header__logo {
    width: 10rem;
  }

  .menu__list {
    @include media-breakpoint-up(xl) {
      justify-content: space-evenly;
    }

    .menu__item-inicio {
      margin-right: 0;
    }
  }

  .menu__link-home,
  .menu__link-sobre,
  .menu__link-estrutura,
  .menu__link-fotos,
  .menu__link-tour,
  .menu__link-contato {
    margin-left: 0;
  }
}

/**
 * INICIO
 * ESTRUTURA
 */
.section-inicio,
.section-estrutura {
  .header__logo {
    transition: all ease 0.3s;
    filter: invert(1) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.75));

    &:hover {
      filter: invert(91%) sepia(15%) saturate(1773%) hue-rotate(2deg) brightness(85%) contrast(94%) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.75));
    }
  }

  .menu__link {
    @include link-color($white, $primary-color);
  }

  .menu__link-home,
  .menu__link-sobre,
  .menu__link-estrutura,
  .menu__link-fotos,
  .menu__link-tour,
  .menu__link-contato {
    &::after {
      filter: invert(91%) sepia(15%) saturate(1773%) hue-rotate(2deg) brightness(85%) contrast(94%) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.75));
    }
  }
}

/**
 * SOBRE
 * FOTOS
 * CONTATO
 */

.section-sobre,
.section-fotos,
.section-contato {
  .menu-mobile__btn {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $black;
    }
  }
}
