.main {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  .section {
    width: 100%;
    min-height: calc(100vh - #{$border-mobile});
    background-position: center;
    background-size: cover;
    position: relative;
    border-top: $border-mobile solid $white;
    border-left: $border-mobile solid $white;
    border-right: $border-mobile solid $white;

    .container {
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      min-height: 504px;

      /*
      @include media-breakpoint-up(md) {
        width: calc(100vw - 6rem);
      }

      @include media-breakpoint-up(lg) {
        width: calc(100vw - 12rem);
      }
      */
    }

    @include media-breakpoint-up(xl) {
      min-height: calc(100vh - #{$border-desktop});
      border-top-width: $border-desktop;
      border-left-width: $border-desktop;
      border-right-width: $border-desktop;
    }
  }
}

.home-box {
  position: absolute;
  width: 100%;
  //height: calc(100% - 8rem);
  height: 40%;
  top: calc(50% + 2rem);
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateY(-50%);

  @media screen and (min-width: 992px), (orientation: landscape) {
    top: calc(50% + 2.5rem);
  }
}

.home__title {
  @include font-size(72px);

  padding-top: 0.5rem;
  margin-bottom: 0;
  line-height: 1;

  @media screen and (min-width: 360px) {
    @include font-size(88px);
  }

  @media screen and (min-width: 411px) {
    @include font-size(96px);
  }

  @include media-breakpoint-up(sm) {
    @include font-size(128px);
  }

  @include media-breakpoint-up(md) {
    @include font-size(160px);
  }

  @include media-breakpoint-up(lg) {
    @include font-size(160px);

    padding-top: 1rem;
  }
}

.home__subtitle {
  @include font-size(16px);
  @include text-semi-bold;

  @media (min-width: 411px) {
    @include font-size(20px);
  }

  @include media-breakpoint-up(sm) {
    @include font-size(24px);
  }
}

.mouse-scroll-box {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.mouse-scroll { // Mouse icon
  display: inline-block;
  width: 28px; // Define sizes
  height: 44px;
  border-radius: 12px; // Define edge radius
  border: 2px solid $white; // Edge width and colors
  text-align: center; // Center animated circle in mouse icon
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 1px 1px 16px rgba(0, 0, 0, 0.1);

  &::after { // Animated circle
    display: inline-block;
    width: 8px; // Circle size
    height: 8px;
    background-color: $white; // Circle color
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    border-radius: 50%; // Become rounded corner
    content: "";
    animation: scroll 1.5s ease-out infinite forwards; // Keyframe animation
  }
}

.about-box,
.structure-box,
.photos-box,
.contact-box {
  margin-top: 4rem;
  padding-bottom: 3rem;

  @include media-breakpoint-up(xl) {
    margin-top: 0;
  }
}

.about__description-box,
.about__testimonials-box {
  text-align: center;
}

.about__description {
  column-count: 1;
  text-align: justify;
  margin-bottom: 2.5rem;

  @include media-breakpoint-up(sm) {
    column-count: 2;
    column-gap: 1.5rem;
  }
}

//Testimonials

.about__testimonials-box {
  padding-top: 2.5rem;
}

/*
.about__testimonials__subtitle {
  @include font-size(16px);

  @include media-breakpoint-up(sm) {
    @include font-size(20px);
  }
}

.about__testimonials__title {
  @include font-size(42px);

  @include media-breakpoint-up(sm) {
    @include font-size(48px);
  }
}
*/

.about__testimonials-slider {
  position: relative;
  margin-bottom: 2rem;
}

.about__testimonials-list {
  padding-left: 0;
}

.about__testimonial-item {
  position: relative;

  @include media-breakpoint-up(lg) {
    display: flex !important;
  }
}

.about__testimonial__profile-picture-box {
  position: relative;
  width: 9rem;
  min-width: 9rem;
  height: 9rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  @include media-breakpoint-up(lg) {
    margin: unset;
  }
}

.about__testimonial__profile-picture {
  border: 8px solid $white;
  border-radius: 50%;
}

.about__testimonial__profile-content {
  @include media-breakpoint-up(lg) {
    margin-left: 2rem;
  }
}

.about__testimonial__description {
  text-align: justify;
  margin-bottom: 1rem;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }
}

.about__testimonial__profile {
  @include font-family-isabel-light;
  @include font-size(18px);

  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }
}

.about__testimonials-slider__custom-navigation {
  position: relative;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;

  .flex-prev,
  .flex-next {
    z-index: 1;
  }

  .flex-control-nav {
    bottom: -10px;
  }
}

/* ESTRUTURA */

.section-estrutura {
  min-height: unset !important;

  @include media-breakpoint-up(xl) {
    min-height: calc(100vh - #{$border-desktop});
    border-top-width: $border-desktop;
    border-left-width: $border-desktop;
    border-right-width: $border-desktop;
  }
}

/*
.structure-box {
  height: calc(100% - 4.5rem);
}
*/

.structure__title,
.structure__subtitle,
.structure__description {
  text-align: center;
}

.structure__subtitle {
  @include font-size(18px);
}

.structure__title {
  @include font-size(40px);

  @include media-breakpoint-up(sm) {
    @include font-size(48px);
  }

  @include media-breakpoint-up(lg) {
    @include font-size(56px);
  }

  @include media-breakpoint-up(xl) {
    @include font-size(72px);
  }
}

.structure__description-box {
  @include media-breakpoint-up(xl) {
    margin-left: auto;
    padding-right: 4.1665%;
  }

  @media screen and (min-width: 1600px) {
    padding-right: 8.3333%;
  }
}

.structure__description,
.structure__btn-more {
  margin-bottom: 1.5rem;
}

.structure__btn-more {
  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }
}

.structure__gallery-list {
  padding-left: 0;
}

.structure__gallery-box {
  .container-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    @include media-breakpoint-up(md) {
      grid-gap: 2rem;
    }
  }

  @include media-breakpoint-up(xl) {
    margin-right: auto;
  }
}

.structure__gallery__img-box {
  margin-bottom: 0;
}

/* FOTOS */
.section-fotos {
  min-height: unset !important;

  @include media-breakpoint-up(xl) {
    min-height: calc(100vh - #{$border-desktop});
    border-top-width: $border-desktop;
    border-left-width: $border-desktop;
    border-right-width: $border-desktop;
  }
}

.photos-box {
  text-align: center;
}

.photos__subtitle {
  @include font-size(16px);

  @include media-breakpoint-up(375px) {
    @include font-size(20px);
  }
}

.photos__gallery-box {
  .container-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(44%, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: dense;

    @include media-breakpoint-up(md) {
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
    }
  }
}

.img__box__link {
  position: relative;
  width: 100%;
  height: 100%;

  /*
  &:nth-child(9n+2) {
    grid-row-end: span 2;
  }

  &:nth-child(9n+3),
  &:nth-child(9n+9) {
    grid-column-end: span 2;
  }
  */
}

.photos__gallery__img-box {
  height: 100%;

  /*
  &:nth-child(9n+2)::after {
    padding-bottom: unset;
  }

  p:nth-child(9n+3)::after,
  p:nth-child(9n+9)::after {
    padding-bottom: 50%;
  }
  */
}

/* CONTATO */
.section-contato {
  min-height: 100vh !important;
  border-bottom: $border-mobile solid #fff;

  .menu-box {
    margin-bottom: 1rem;
  }

  @include media-breakpoint-up(lg) {
    border-bottom-width: $border-desktop;
  }

  /*
  @include media-breakpoint-up(xl) {
    height: 100vh;
  }
  */
}

.contact__title {
  margin-bottom: 0;
}

.contact__subtitle {
  @include font-size(16px);
}

.contact__form-box {
  text-align: center;
  margin-bottom: 1.5rem;

  p {
    text-align: center;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 2rem;
  }
}

.contact__btn-send {
  margin: auto !important;
}

.contact__address-box {
  position: relative;

  @include media-breakpoint-up(xl) {
    padding-right: 2.5rem;
  }
}

.contact__address__wrap {
  background: #fff;
}

.contact__address__content {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.contact__address__info {
  @include font-family-gotham-pro-light;
  @include font-size(14px);
  @include text-light;

  line-height: 1.2;
}

.contact__address-text {
  margin-bottom: 0.375rem;
}

.contact__phones-text {
  margin-bottom: 1rem !important;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.contact__btn-directions {
  @include font-family-gotham-pro-light;
  @include font-size(14px);
  @include text-light;

  @include media-breakpoint-up(md) {
    margin-left: 1rem;
    padding: 8px 10px;
  }
}

.contact__map {
  overflow: hidden;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;

    .place-card,
    .gm-style .place-card div,
    .gm-style .place-card {
      display: none !important;
    }
  }
}

/**
 * MODAL
 */
.modal__content {
  background-color: #fff;
  display: none;
  position: relative;
  border: $border-mobile solid white;
  width: 100%;
  min-height: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  &.container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 504px;
  }

  .modal__logo-box {
    display: block;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5rem;
    justify-content: center;

    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }

  .modal__logo-nav {
    position: relative;
    display: flex;
    padding-top: 4rem;
    width: 100%;
    height: 100%;
    justify-content: center;

    @media screen and (orientation: landscape) {
      padding-top: 2.5rem;
    }

    @include media-breakpoint-up(xl) {
      align-items: center;
      padding-top: 2.5rem;
    }
  }

  .modal__link {
    @include link-color($black, $primary-color);

    position: relative;
    display: block;
  }

  .modal__logo__item {
    margin-right: auto;
  }

  .modal__logo__list {
    padding: 0;
    margin: 0;

    @include media-breakpoint-up(xl) {
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    border: $border-desktop solid white;
  }
}

/**
 * Structure Modal
 */
.structure__modal__content {
  .fancybox__close__btn {
    background-color: transparent;
  }
}

.structure__modal__gallery-box {
  margin-bottom: 3.5rem;
  transition: all ease-in 0.3s;

  .container-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.structure__gallery__categories-list {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.structure__gallery__category__link {
  @include link-color($black, $primary-color);

  position: relative;
  display: block;

  &::after {
    content: "";
    display: block;
    margin: auto;
    width: 0;
    height: 4px;
    transition: width ease 0.3s, background ease 0.3s;
  }

  &:hover {
    &::after {
      width: 100%;
      background: url('../images/menu-traco.svg') no-repeat center;
      background-size: contain;
      filter: invert(91%) sepia(15%) saturate(1773%) hue-rotate(2deg) brightness(85%) contrast(94%);
    }
  }
}

.structure__gallery__categories-item {
  @include font-family-gotham-pro;
  @include text-regular;

  cursor: pointer;
  display: list-item;
  padding: 0.5rem 1rem;

  &.current {
    .structure__gallery__category__link {
      &::after {
        width: 100%;
        background: url('../images/menu-traco.svg') no-repeat center;
        background-size: contain;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    margin-right: 3rem;
  }

  @media screen and (min-width: 1440px) {
    margin-right: 4rem;
  }

  &:last-of-type {
    margin-right: unset;
  }
}

.structure__modal__gallery__img {
  //img-center
  transition: width ease 0.5s, height ease 0.5s;
}

.structure__img__desc-box {
  @include font-family-gotham-pro-light;

  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  text-align: center;
  opacity: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity ease-in 0.5s;
}

.structure__modal__gallery__img-box {
  @include media-breakpoint-up(xl) {
    &:hover {
      .structure__modal__gallery__img {
        //img-center-zoom
        width: 105%;
        height: 105%;
        cursor: zoom-in;
      }

      .structure__img__desc-box {
        opacity: 1;
      }
    }
  }
}

.structure__img__desc {
  padding: 0.375rem;
  margin: auto;
}

/**
 * Tour Modal
 */
.tour__modal__content,
.tour__iframe {
  width: 100%;
  height: 100%;
}
