html,
body {
  @include font-family-gotham-pro-light;
  @include font-size(16px);
  @include text-light;

  color: $black;
  line-height: 1.3;

  a {
    transition: ease 0.3s;
    color: unset;
    text-decoration: none;

    &:hover {
      color: unset;
      text-decoration: none;
    }
  }

  .form {
    input:not([type='submit']),
    textarea {
      @include font-size(18px);
      @include placeholder-color($black);

      text-transform: uppercase;
      width: 100%;
      max-width: 100%;
      background-color: $white;
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      margin-bottom: 0.823rem;
      outline: none;
    }
  }

  .ajax-loader {
    display: none;
  }

  p {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
  }

  @include media-breakpoint-up(sm) {
    line-height: 1.5;
  }
}

.text--white {
  color: $white;
}

.text--black {
  color: $black;
}

.text--shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), 1px 1px 16px rgba(0, 0, 0, 0.5);
}

.global__title {
  @include font-family-isabel;
  @include text-regular;
  @include font-size(48px);

  position: relative;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 1.5rem;

  @include media-breakpoint-up(sm) {
    margin-bottom: 2rem;
  }

  @include media-breakpoint-up(md) {
    @include font-size(56px);
  }

  @include media-breakpoint-up(lg) {
    @include font-size(72px);
  }
}

.global__subtitle {
  @include font-family-gotham-pro-light;
  @include text-light;
  @include font-size(20px);

  position: relative;
  width: 100%;
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    @include font-size(24px);

    margin-bottom: 1.5rem;
  }
}

.global__btn {
  @include font-size(16px);

  text-align: center;
  white-space: nowrap;
  padding: 8px 35px;
  border: 1px solid transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  background-color: transparent;
  transition: all ease 0.2s;
}

.global__btn--white-black {
  color: $white;
  box-shadow: inset 0 0 0 0 $white;
  border-color: $white;

  &:hover {
    color: $black !important;
    background-color: unset;
    box-shadow: inset 0 100px 0 0 $white;
  }
}

.global__btn--black-white {
  color: $black;
  box-shadow: inset 0 0 0 0 $black;
  border-color: $black;

  &:hover {
    color: $white !important;
    background-color: unset;
    box-shadow: inset 0 100px 0 0 $black;
  }
}

.container {
  max-width: 1920px;
}

.animated.fast {
  animation-duration: 0.3s;
}

.animated.faster {
  animation-duration: 0.2s;
}

//Masonry
.grid-item--width2 {
  grid-column-end: span 2;

  &::after {
    padding-bottom: 50%;
  }
}

.grid-item--height2 {
  grid-row-end: span 2;
  height: 100%;

  &::after {
    padding-bottom: unset;
  }
}

//Images
.img__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img__box::after {
  content: "";
  display: block;
}

.img__box--square::after {
  padding-bottom: 100%;
}

.img__box--wide::after {
  padding-bottom: 56.25%;
}

.img__box--std::after {
  padding-bottom: 75%;
}

.img__box--w2::after {
  padding-bottom: 50%;
}

.img__box--h2::after {
  padding-bottom: 200%;
}

.img-center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.img-center--zoom {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width ease 0.5s, height ease 0.5s;
  object-fit: cover;

  &:hover {
    width: 105%;
    height: 105%;
    cursor: zoom-in;
  }
}

.zoom-img {
  overflow: hidden;

  img {
    transition: transform 0.3s;

    &:hover {
      top: -2.5%;
      left: -2.5%;
      transform: scale(1.05);
    }
  }
}

.lock-scroll {
  overflow: hidden;
}

.wpcf7-mail-sent-ok {
  border-color: #000 !important;
}

/**
 * Fancybox
 */

.fancybox-slide::before {
  margin-right: 0;
}

.fancybox-slide--html {
  padding: 0;

  .fancybox-content {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

.fancybox__close__btn {
  position: absolute;
  top: calc(#{$border-mobile} / 2);
  right: calc(#{$border-mobile} / 2);
  color: black;
  background-color: #fff;
  line-height: 1;
  padding: 0.375rem;
  z-index: 999;

  @include media-breakpoint-up(lg) {
    top: calc(#{$border-desktop} / 2);
    right: calc(#{$border-desktop} / 2);
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $black;
  }
}

.fancybox-infobar,
.fancybox-caption {
  @include font-family-gotham-pro;
}
