@mixin font-family-gotham-pro {
  font-family: 'GothamPro', serif;
}

@mixin font-family-gotham-pro-light {
  font-family: 'GothamPro-Light', serif;
}

@mixin font-family-isabel {
  font-family: 'Isabel', sans-serif;
}

@mixin font-family-isabel-light {
  font-family: 'Isabel-Light', sans-serif;
}

@mixin text-bold {
  font-weight: 700;
}

@mixin text-semi-bold {
  font-weight: 600;
}

@mixin text-medium {
  font-weight: 500;
}

@mixin text-regular {
  font-weight: 400;
}

@mixin text-light {
  font-weight: 300;
}

@function calculaterem($size) {
  $remSize: $size / 16px;

  @return #{$remSize}rem;
}

@mixin font-size($size) {
  font-size: $size; //Fallback in px
  font-size: calculaterem($size);
}

@mixin placeholder-color($placeholder-color) {
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }

  &::-moz-placeholder {
    color: $placeholder-color;
  }

  &:-moz-placeholder {
    color: $placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
}

@mixin link-color($normal-color, $hover-color) {
  color: $normal-color !important;

  &:hover {
    color: $hover-color !important;
  }
}

/* @mixin btn-hover($shadow-color, $text-color) {
  @media screen and(min-width: 992px) {
    box-shadow: inset 0 0 0 0 $shadow-color;
    transition: all 1.3s ease;
  }

  &:hover {
    background-color: $shadow-color;
    color: $text-color;

    @media screen and(min-width: 992px) {
      background-color: unset;
      box-shadow: inset -900px 0 0 0 $shadow-color;
    }
  }
}
*/
