/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Colors */
$primary-color:#cfc33b;
$black: #000;
$white: #fff;

/** Box Model  */
$spacer:                2rem;

/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 32px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: #fff;
$hamburger-types: (squeeze);

/* Sections border */
$border-desktop: 2rem;
$border-mobile: 1rem;

/* Fancybox */
$fancybox-image-url: '../images/fancybox' !default;
