@import "common/variables";

/*
* Css for login page
*/

//Body
body.login {
  background: #fff;
  color: #000;
}

.login {
  //Logo
  h1 a {
    background-image: url("../images/lepartie-logo-color.svg");
    height: auto;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 35px;
  }

  //Form
  form {
    border: 1px solid #000;
    box-shadow: none;
  }

  //Remove login links
  #nav {
    display: none;
  }

  #backtoblog {
    display: none;
  }

  //Message
  .message {
    border: 0;
    color: #000;
    background-color: #fff;
    box-shadow: none;
  }
}

.wp-core-ui {
  .button-primary {
    background: $primary-color;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    text-shadow: none;
    box-shadow: none;

    &:active,
    &:hover {
      background: darken($primary-color, 10%);
      border: 0;
      box-shadow: none;
    }

    &:focus {
      background: $primary-color;
      box-shadow: 0 1px 0 darken($primary-color, 10%), 0 0 2px 1px lighten($primary-color, 10%);
    }
  }
}
